*{
    margin: 0px;
    padding: 0px;
}
.container{
    margin-top: 170px;
}
.visit{
    text-transform: uppercase;
    letter-spacing: 3px ;
    color:#2095AE;
    font-family: Arial, Helvetica, sans-serif;
    
}
.popular{
    text-transform: uppercase;
    text-decoration: double;
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}
.destination{
    color: #2095AE;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.places{
    position: relative;
}

.cart{
    display: flex;
    position: relative;
    width: 400px;
    height: 500px;
    border: none;
    overflow: hidden;
    

}
.back{
    width: 400px;
    height: 500px;
    background: linear-gradient(to top, #000, transparent);
    transition: 0.5s;
    position: absolute;
}
.cart-img img {
    position: relative;
    width: 400px;
    height: 500px;
    transition: 0.5s;
    opacity: 1;
    backface-visibility: hidden;
}
.cart-img:hover img{
    opacity: 0.6;
} 
.cart-img{
    transition: .6s ease-out;
}


.cart-img::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 500px;
    background:rgba(0, 0, 0, .6);
    opacity: .5;
}

.intro-start{
    height: 50px;
    position: absolute;
    visibility: visible;
    right: 12%;
    top: 10%;
    background: #2095AE;
    transform: translate(21%, -16%) rotate(270deg);
    text-transform: uppercase;
}
.tours{
    
    display: flex;
    padding: 14px;
    text-align: center;
    color: #fff;
}

.intro{
    height: 50px;
    width: 400px;
    padding: 5px;
    box-sizing: border-box;
    position: absolute;
    bottom: 38px;
    color: #fff;
    opacity: 2;
    transition: .7s;
}
.place-nm{
    box-sizing: border-box;
    border-bottom: 1px solid rgb(224, 221, 221);
    width: 40%;

}
.packages{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding-top: 20px;
    visibility: hidden;
    opacity: 0;
}
h2{
    margin: 10px;
    font-size: 40px;
}

.cart:hover{
    cursor: pointer;

}
.cart:hover .intro{
    height: 160px;
    bottom: 40px;
    opacity: 5;
    
}
.cart:hover .intro .place-nm{
    box-sizing: border-box;
    border-bottom: 1px solid  rgb(224, 221, 221);
    width: 100%;
    transition: .8s;
}
.cart:hover .packages{
    opacity: 8;
    visibility: visible;
}

.cart:hover .cart-img {
    transform: scale(1.1);
    
}
